* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white-bg);
}

:root {
  --orange: #E34C26;
  --white-bg: #F2F2F2;
  --white-text: #F4F4F4;
  --black-primary: #0C0C0C;
  --black-secondary: #1C1C1C;
  --black-tri: #2C2C2C;
  --black-quad: #3C3C3C;
  --css-blue: #264DE4;
  --js-yellow: #FFFF00;
  --php-purple: #777BB3;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
  padding: 5em 0 1em 0;
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 1em;
}

.title-wrapper img {
  border-radius: 100%;
}

.header-content h2 {
  font-weight: 400;
  color: var(--orange);
}

.header-content h1 {
  font-weight: 600;
  color: var(--black-primary);
  font-size: 3rem;
}

.html,
.css,
.js,
.php {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.my-language {
  display: flex;
  gap: 2em;
}

nav {
  display: flex;
  border-radius: 10px;
}

nav a {
  color: var(--black-secondary);
  text-decoration: none;
  padding: 0.5em 6em;
  transition: 0.15s;
}

nav a:first-of-type {
  border-radius: 10px 0 0 10px;
}

nav a:last-of-type {
  border-radius: 0 10px 10px 0;
}

nav a:hover {
  color: var(--white-text);
  background-color: #ae3a1d;
}

.active {
  background-color: var(--orange);
  color: var(--white-text);
}

main {
  padding: 5em;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
}

.card img {
  width: 100%;
}